<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <h1>Versioning Demo Application</h1>
    </header>
    <main>
        @RenderBody()
    </main>
</body>
</html>