@{
    ViewBag.Title = "Home - Version 2.0";
    Layout = "~/Areas/Shared/Views/Shared/_Layout.cshtml";
}

<h1>Welcome to Version 2.0</h1>
<p>This is the home page for Version 2.0 with new features.</p>